@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: rgba(12, 32, 77, 0.95);
    --overlay-color: rgba(12, 28, 67 , 0.95);
    --font-style: 'Verdana', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-style);
    background-color: var(--overlay-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    color: white;
}

h1 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.question-form {
    margin-top: 40px;
}

h2 {
    font-size: 28px;
    color: white;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}

li {
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    color: white;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
}

input[type="text"]:focus {
    outline: none;
}

.next-btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
}

.next-btn:hover {
    background-color: #0c204d;
}
