<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="test-type-selects">
    <select id="test-type-select-0" required>
        <option value="">-</option>
        <option value="poll_1_part_1">Тест на характеристики</option>
        <option value="sound_test">Тест на реакцию на звук</option>
        <option value="light_test">Тест на реакцию на свет</option>
        <option value="visual_math_test">Математические примеры(визуально)</option>
        <option value="math_sound">Математические примеры (на слух)</option>
        <option value="multiple_colours_test">Тест на изменение цвета</option>
    </select>
</div>
<button type="submit" id="get-invite-button">Создать ссылку-приглашение</button>
<div id="invite-link-enclosing"></div>
<div id="link-copied"></div>
</body>
<script>
    let inviteLink = null, linkGenerated, i=1
    testTypeSelects = document.getElementById('test-type-selects')
    getInviteButton = document.getElementById('get-invite-button')
    getInviteButton.addEventListener('click', getLink)

    testTypeSelects.addEventListener('change', addAnotherButton)

    function addAnotherButton(){
        const select = document.createElement('select')
        select.id = "test-type-select-" + i;

        select.innerHTML += "<option value=\"\">-</option>" +
        "<option value=\"poll_1_part_1\">Тест на характеристики</option>" +
        "<option value=\"sound_test\">Тест на реакцию на звук</option>" +
        "<option value=\"light_test\">Тест на реакцию на свет</option>" +
        "<option value=\"visual_math_test\">Математические примеры(визуально)</option>" +
        "<option value=\"math_sound\">Математические примеры (на слух)</option>" +
        "<option value=\"multiple_colours_test\">Тест на изменение цвета</option>"

        testTypeSelects.appendChild(select)
        i++;
    }

    async function getLink(){
        const data = {
            tests: []
        }

        for (let j=0;j<i;j++){
            if(document.getElementById("test-type-select-" + j) ){
                if (document.getElementById("test-type-select-" + j).value){
                    data.tests.push(document.getElementById("test-type-select-" + j).value)
                }
            }
        }

        console.log(data)

        await fetch('/create_invite', {
            method: "POST",
            body: JSON.stringify(data),
            headers : {'Content-Type' : 'application/json'}

        })
            .then(data => data.json())
            .then(objects => {
                document.getElementById("invite-link-enclosing").innerHTML = "";

                const link = document.createElement("input")
                link.type = "button"
                link.value = "Скопировать ссылку"
                link.onclick = copyLinkToClipBoard

                document.getElementById("invite-link-enclosing").appendChild(link)
                inviteLink = objects["link"]
            })
            .catch(e => console.log(e))
    }

    function copyLinkToClipBoard(){
        if (inviteLink){
            navigator.clipboard.writeText(inviteLink).then(function() {

            }, function() {
                console.error("Failed to copy text to clipboard");
            });

            document.getElementById("link-copied").innerHTML = "Ссылка скопирована";

            setTimeout(() => {
                document.getElementById("link-copied").innerHTML = "";
            }, 3000);
        }
    }
</script>
</html>