<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll</title>
</head>
<body>
<form method="POST" action="/poll">
    <input name="poll_results" required type="text" />
    <input name="profession" required type="text" />
    <button type="submit">Send results</button>
</form>
</body>
</html>