<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="SecondPageStyles.css">
    <title>Second page</title>
</head>
<body>

</body>
<section>
  <h1>PROFESSIONS</h1>
  <h2>SOMETHING WILL PROBABLY BE WRITTEN HERE LATER</h2>

  <div class="container">

    <div class="tab-wrap">

      <input type="radio" id="tab4" name="tabGroup2" class="tab" checked>
      <label for="tab4">Data Scientist</label>

      <input type="radio" id="tab5" name="tabGroup2" class="tab">
      <label for="tab5">Backend developer</label>

      <input type="radio" id="tab6" name="tabGroup2" class="tab">
      <label for="tab6">Frontend developer</label>

      <input type="radio" id="tab7" name="tabGroup2" class="tab">
      <label for="tab7">QA engineer</label>

      <input type="radio" id="tab8" name="tabGroup2" class="tab">
      <label for="tab8">Cyber security specialist </label>

      <div class="tab__content">
        <h3>Data Scientist</h3>
        <p>Специалист, который создает инструменты для решения задач бизнеса. Для этого он использует навыки анализа данных и построения моделей машинного обучения.</p>
      </div>

      <div class="tab__content">
        <h3>Backend developer</h3>
        <p>Разработчик логики работы сайта, скрытая от пользователя, например, механизмы обработки данных с клиентской части.</p>
      </div>

      <div class="tab__content">
        <h3>Frontend developer</h3>
        <p>Разработчик пользовательских функций и интерфейса. К ним относится всё, что пользователи видят и с чем можно взаимодействовать на сайте или в приложении.</p>
      </div>

      <div class="tab__content">
        <h3>QA engineer</h3>
        <p>Специалист, который создаёт сценарии тестирования, прогнозирует сбои и находит ошибки в продуктах.
        </p>
      </div>

      <div class="tab__content">
        <h3>Cyber security specialist </h3>
        <p>Специалист, разрабатывающий системы защиты данных от внутренних и внешних угроз путем защиты сетей, оборудования и систем обработки данных.</p>
      </div>

    </div>

    <div class="demo-section">
      <p></p>
    </div>

  </div>

</section>
</html>