<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="SecondPageStyles.css">
    <title>Second page</title>
</head>
<body>

</body>
<section>
  <h1>HEADING</h1>
  <h2>SOMETHING WILL PROBABLY BE WRITTEN HERE LATER</h2>

  <div class="container">

    <div class="tab-wrap">

      <input type="radio" id="tab4" name="tabGroup2" class="tab" checked>
      <label for="tab4">1st Characteristic</label>

      <input type="radio" id="tab5" name="tabGroup2" class="tab">
      <label for="tab5">2nd Characteristic</label>

      <input type="radio" id="tab6" name="tabGroup2" class="tab">
      <label for="tab6">3rd Characteristic</label>

      <input type="radio" id="tab7" name="tabGroup2" class="tab">
      <label for="tab7">4th Characteristic</label>

      <input type="radio" id="tab8" name="tabGroup2" class="tab">
      <label for="tab8">5th Characteristic</label>

      <div class="tab__content">
        <h3>1st Characteristic</h3>
        <p>I'm fucking tired of this shit<br>you have no idea how I got tired of writing this fucking front especially css.<br> I hate writing front AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA KILL ME PLEASE</p>
      </div>

      <div class="tab__content">
        <h3>2nd Characteristic</h3>
        <p>I'm fucking tired of this shit<br>you have no idea how I got tired of writing this fucking front especially css.<br> I hate writing front AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA KILL ME PLEASE</p>


      </div>

      <div class="tab__content">
        <h3>3rd Characteristic</h3>
        <p>I'm fucking tired of this shit<br>you have no idea how I got tired of writing this fucking front especially css.<br> I hate writing front AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA KILL ME PLEASE</p>
      </div>

      <div class="tab__content">
        <h3>4th Characteristic</h3>
        <p>I'm fucking tired of this shit<br>you have no idea how I got tired of writing this fucking front especially css.<br> I hate writing front AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA KILL ME PLEASE</p>
      </div>

      <div class="tab__content">
        <h3>5th Characteristic</h3>
        <p>I'm fucking tired of this shit<br>you have no idea how I got tired of writing this fucking front especially css.<br> I hate writing front AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA KILL ME PLEASE</p>
      </div>

    </div>

    <div class="demo-section">
      <p>I'm fucking tired of this shit<br>you have no idea how I got tired of writing this fucking front especially css.<br> I hate writing front<br>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA KILL ME PLEASE</p>


    </div>

  </div>

</section>
</html>