<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="TestListPageStyle.css">
  <title>Test List Page</title>
</head>
<body>
  <div class="test-list">
    <ul>
      <li><a href="/visual_math_test">Visual Math Test</a></li>
      <li><a href="/math_sound">Sound Math Test</a></li>
      <li><a href="/multiple_colours_test">Multiple Color Reaction Test</a></li>
      <li><a href="/light_test">Light Reaction Test</a></li>
      <li><a href="/sound_test">Sound Reaction Test</a></li>
      <li><a href="/hard_action">Hard Action Test</a></li>
      <li><a href="/easy_action">Easy Action Test</a></li>
    </ul>
  </div>
</body>
</html>