<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Таблица Шульте</title>
  <link rel="stylesheet" href="5th-lab-tests/table-schulte/SchulteTable.css">
</head>

<body>
  <h1>Таблица Шульте</h1>
  <div id="container">
    <table id="table"></table>
    <button id="restart-button" style="display:none">Пройти тест еще раз</button>
  </div>

  <script>
    var size = 5;
    var numbers = shuffle(createNumbers(size));
    var index = 0;
    var startTime = new Date();
    var table = document.getElementById("table");
    var incorrectAnswers = 0;

    for (var i = 0; i < size; i++) {
      var row = document.createElement("tr");
      for (var j = 0; j < size; j++) {
        var cell = document.createElement("td");
        cell.innerHTML = numbers[index];
        cell.setAttribute("data-number", numbers[index]);
        cell.addEventListener("click", onCellClick);
        row.appendChild(cell);
        index++;
      }
      table.appendChild(row);
    }
    index = 0;

    var restart_button = document.getElementById("restart-button");
    restart_button.addEventListener("click", restartTest);

    function createNumbers(size) {
      var numbers = [];
      for (var i = 1; i <= size * size; i++) {
        numbers.push(i);
      }
      return numbers;
    }

    function shuffle(array) {
      for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    }

    function onCellClick(event) {
      var cell = event.target;
      console.log(index + 1)
      console.log(parseInt(cell.innerHTML) === index + 1);
      if (parseInt(cell.innerHTML) === index + 1) {
        cell.classList.add("correct");
        cell.removeEventListener("click", onCellClick);
        index++;
        if (index === size * size) {
          var endTime = new Date();
          var timeDiff = Math.round((endTime - startTime) / 1000);
          alert("Вы победили!\n" + "Время выполнения: " + timeDiff + " м\n" + "Количество неверных попаданий: " + incorrectAnswers);
          table.style.display = "none";
          restart_button.style.display = "inline-block";
        }
      } else {
        incorrectAnswers++;
        console.log(incorrectAnswers);
        cell.classList.add("incorrect");
        setTimeout(function () {
          cell.classList.remove("incorrect");
        }, 500);
      }
    }

    function restartTest() {
      size = 5;
      numbers = shuffle(createNumbers(size));
      index = 0;
      startTime = new Date();
      table.innerHTML = "";
      incorrectAnswers = 0;
      for (var i = 0; i < size; i++) {
        var row = document.createElement("tr");
        for (var j = 0; j < size; j++) {
          var cell = document.createElement("td");
          cell.innerHTML = numbers[index];
          cell.setAttribute("data-number", numbers[index]);
          cell.addEventListener("click", onCellClick);
          row.appendChild(cell);
          index++;
        }
        table.appendChild(row);
      }
      index = 0;
      table.style.display = "table";
      restart_button.style.display = "none";
    }
  </script>
</body>

</html>