<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "2nd-lab-tests/LightReactionTestStyle.css">
    <title>Light Reaction Test</title>
</head>
<body>
<h1>Light Reaction Test</h1>
<progress id="progress" value="0" max="100"></progress>
<div id="start-button-enclosing">
    <button id="start-button" onclick="hideButton()">Начать тест</button>
</div>
<div id="submit-button-enclosing"></div>
<div id="restart-button-enclosing"></div>
<div id="result-enclosing"></div>
<p id="result"></p>

<!--<div id="square" class="square single-color"></div>-->

</body>
<script>
    const colors = ['lightblue'];
    let intervalId;
    let startTime;
    let reactionTime;
    let correctAnswer = 0; // square number
    let testCounter = 0;
    let totalReactionTime = 0;
    let testPassed = false;
    let testResults = []

async function sendData(){
    if(testPassed){
        const data = {
            testType : "light",
            reactionTime: testResults.at(-1)
        }

        let url = ''
        const urlObject = new URL(window.location.href)

        if (urlObject.searchParams.has('data')){
            url += '/reaction_test?data=' + urlObject.searchParams.get('data')
        } else {
            url += '/reaction_test'
        }

        await fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
        })
            .then(res => {
                console.log(res)
                // Redirect to another URL
                window.location.href = res.url;
            })
            .catch(error => console.error(error));

    }
}

    function hideButton(){
        document.getElementById("start-button").style.display = "none";
        const squareDiv = document.createElement("div");
        squareDiv.id = "square";
        squareDiv.classList.add("single-color");
        document.body.appendChild(squareDiv);
        alert("Нажмите на клавишу пробел, когда увидите изменение цвета фона страниц");
        startTest()
    }

    function startTest() {
        resetSquare();
        intervalId = setInterval(() => {
            resetSquare();
            document.getElementById('square').style.backgroundColor = colors[0];
            correctAnswer = 0;
            startTime = Date.now();
        }, Math.floor(Math.random() * 2000) + 1000);
    }

    function resetSquare() {
        document.getElementById('square').style.backgroundColor = 'white';
    }

    document.addEventListener('keydown', event => {
        if (event.code === 'Space') {
            checkAnswer();
        }
    });

    function checkAnswer() {
        clearInterval(intervalId);

        if (testCounter <= 10 && testPassed === false) {
            reactionTime = Date.now() - startTime;
            testResults.push(reactionTime)
            document.getElementById("progress").value = testCounter * 10;
            testCounter++;
            totalReactionTime += reactionTime;
            document.getElementById('result').innerHTML = `Your reaction time: ${reactionTime}ms`;
            startTest();
        } else if (testCounter > 10 && testPassed === false) {
            testPassed = true;

            document.getElementById("progress").value = 0
            document.getElementById('result').innerHTML = '';

            const submitButtonEnclosing = document.getElementById("submit-button-enclosing");
            const submitButton = document.createElement("button");
            submitButton.textContent = "Отправить результат"
            submitButton.onclick = sendData
            submitButtonEnclosing.appendChild(submitButton);

            const restartButtonEnclosing = document.getElementById("restart-button-enclosing");
            const restartButton = document.createElement("button");
            restartButton.textContent = "Пройти заново"
            restartButton.addEventListener('click', runTest);
            restartButtonEnclosing.appendChild(restartButton);

            const resultEnclosing = document.getElementById("result-enclosing");
            resultEnclosing.innerHTML = `You have completed the test! Your average reaction time is ${totalReactionTime / testCounter}ms.`;
            resultEnclosing.appendChild(resultEnclosing);
        }
    }
    function runTest() {
        document.getElementById("progress").value = 0;
        testCounter = 0;
        testPassed = false;
        reactionTime = 0;
        startTime = 0;

        const submitButtonEnclosing = document.getElementById("submit-button-enclosing");
        if (submitButtonEnclosing.firstChild) {
            submitButtonEnclosing.removeChild(submitButtonEnclosing.firstChild);
        }
        const restartButtonEnclosing = document.getElementById("restart-button-enclosing");
        if (restartButtonEnclosing.firstChild) {
            restartButtonEnclosing.removeChild(restartButtonEnclosing.firstChild);
        }
        const resultEnclosing = document.getElementById("result-enclosing");
        if (resultEnclosing.firstChild) {
            resultEnclosing.removeChild(resultEnclosing.firstChild);
        }
        hideButton();
        startTest();
    }
</script>
</html>