<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "2nd-lab-tests/LightReactionTestStyle.css">
    <title>Light Reaction Test</title>
</head>
<body>
<div id="send-button-enclosing"></div>
</body>
<script>
let initialColor = "white";
let newColor = "lightblue";
let bodyElement = document.getElementsByTagName("body")[0];
let startTime, testStarted = false, testPassed = false;
let testResults = []

async function sendData(){
    if(testPassed){
        const data = {
            testType : "light",
            reactionTime: testResults.at(-1)
        }

        let url = ''
        const urlObject = new URL(window.location.href)

        if (urlObject.searchParams.has('data')){
            url += '/reaction_test?data=' + urlObject.searchParams.get('data')
        } else {
            url += '/reaction_test'
        }

        await fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
        })
            .then(res => {
                console.log(res)
                // Redirect to another URL
                window.location.href = res.url;
            })
            .catch(error => console.error(error));

    }
}

// задаем функцию, которая будет вызываться при нажатии на клавишу пробел
function handleKeyPress(event) {
    // проверяем, что нажата именно клавиша пробел
    if (event.keyCode === 32) {
        if (testStarted){
            let endTime = new Date().getTime(); // сохраняем время завершения изменения цвета фона
            let reactionTime = endTime - startTime; // вычисляем время реакции пользователя
            testResults.push(reactionTime)
            alert("Ваше время реакции на изменение цвета фона страницы: " + reactionTime + " мс"); // выводим результат пользователю
            bodyElement.style.backgroundColor = initialColor; // возвращаем начальный цвет фона
            testStarted = false;

            if (!testPassed){
                const submitButton = document.createElement("button")
                submitButton.innerHTML = "Отправить результат"

                submitButton.onclick = sendData
                document.getElementById("send-button-enclosing").appendChild(submitButton)
                //bodyElement.appendChild(submitButton)
            }

            testPassed = true
        }
    }
}

// добавляем обработчик события нажатия на клавишу
document.addEventListener("keydown", handleKeyPress);

// задаем начальный цвет фона страницы
bodyElement.style.backgroundColor = initialColor;

function startTest() {
    setTimeout(() => {
                bodyElement.style.backgroundColor = newColor; // меняем цвет фона
                startTime = new Date().getTime();
                testStarted = true;
                bodyElement.focus();
            },
            Math.random() * 5000 )
}
const startButton = document.createElement("button");
startButton.innerHTML = "Начать тест";
startButton.onclick = startTest;
bodyElement.appendChild(startButton);

alert("Нажмите на клавишу пробел, когда увидите изменение цвета фона страниц")
</script>
</html>