<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

=======
>>>>>>> daniildiveev/js
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="2nd-lab-tests/VisualMathTestStyle.css">
  <title>Sound Math Test</title>
</head>
<<<<<<< HEAD

<body>
  <div id="problem"></div>
  <div id="incorrect_field"></div>
  <div id="select_for_number_of_numbers">
    <select id="numbers_for_test_time" required>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div id="answer_buttons"></div>
  <br>
  <progress id="progress" value="0" max="100"></progress>
  <div id="start-button-enclosing">
    <button id="start-button">Начать тест</button>
  </div>
  <div id="submit-button-enclosing"></div>
=======
<body>
<div id="problem"></div>
<div id="incorrect_field"></div>
<div id="select_for_number_of_numbers">
  <select id="numbers_for_test_time" required>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>
<div id="answer_buttons"></div>
<br>
<progress id="progress" value="0" max="100"></progress>
<div id="start-button-enclosing">
  <button id="start-button">Начать тест</button>
</div>
<div id="submit-button-enclosing"></div>
>>>>>>> daniildiveev/js
</body>
<script>
  bodyElement = document.getElementsByTagName("body")[0]
  startButton = document.getElementById("start-button")
  startButton.onclick = runTest
  problemDiv = document.getElementById("problem")
  progressElement = document.getElementById("progress")

  let numbersSelect = document.getElementById("numbers_for_test_time")
  let numberOfNumbers = document.getElementById("numbers_for_test_time").value

  numbersSelect.addEventListener("change", () => {
    numberOfNumbers = document.getElementById("numbers_for_test_time").value
  })

  let problems = [], timings = [], results = []
  const NUM_OF_TESTS = 9;
  let testCounter = 0, testPassed = false;

<<<<<<< HEAD
  function runTest() {
    if (testCounter <= NUM_OF_TESTS) {
=======
  function runTest(){
    if (testCounter <= NUM_OF_TESTS){
>>>>>>> daniildiveev/js
      progressElement.value = (testCounter) / NUM_OF_TESTS * 100;
      document.getElementById("select_for_number_of_numbers").innerHTML = "";
      document.getElementById("start-button-enclosing").innerHTML = "";
      document.getElementById("submit-button-enclosing").innerHTML = "";

<<<<<<< HEAD
      let { numbers, isEven } = generateProblem();
=======
      let {numbers, isEven} = generateProblem();
>>>>>>> daniildiveev/js
      let problem = "";

      problems.push(numbers)

      for (let i = 0; i < numberOfNumbers; i++) {
        if (i !== numberOfNumbers - 1) {
          problem += numbers[i] + "+"
        } else {
          problem += numbers[i]
        }
      }

      //voice acting
      const utterance = new SpeechSynthesisUtterance(problem);
      window.speechSynthesis.speak(utterance);

      let evenButton = document.createElement("button")
      evenButton.innerHTML = "Четная"
      evenButton.value = "Четная"
      evenButton.name = "answer_button"
      evenButton.addEventListener("click", checkAnswer)
      document.getElementById("answer_buttons").appendChild(evenButton)

      let oddButton = document.createElement("button")
      oddButton.innerHTML = "Нечетная"
      oddButton.value = "Нечетная"
      oddButton.name = "answer_button"
      oddButton.addEventListener("click", checkAnswer)
      document.getElementById("answer_buttons").appendChild(oddButton)

      startTime = new Date().getTime();

      function checkAnswer(event) {
        if ((event.srcElement.value === "Нечетная" && isEven === false) || (event.srcElement.value === "Четная" && isEven === true)) {
          let endTime = new Date().getTime()
          timings.push(endTime - startTime)
          document.getElementById("incorrect_field").innerHTML = "";
          document.getElementById("answer_buttons").innerHTML = "";
          testCounter++;
          runTest();
        } else {
          document.getElementById("incorrect_field").innerHTML = "Неправильно, попробуйте еще раз!";
        }
      }

    } else {
      testCounter = 0;
      results.push(timings);
      timings = [];

      const submitButton = document.createElement("button")
      submitButton.type = "submit"
      submitButton.onclick = sendData
      submitButton.textContent = "Отправить результат"
      document.getElementById("submit-button-enclosing").appendChild(submitButton)

      testPassed = true;

      const startButton = document.createElement("button")
      startButton.id = "start-button"
      startButton.textContent = "Пройти заново"
      startButton.onclick = runTest
      document.getElementById("start-button-enclosing").appendChild(startButton)

      progressElement.value = 0
    }
  }

<<<<<<< HEAD
  async function sendData() {
    if (testPassed) {
      const reactionTimings = [results.at(-1).slice(0, 3).reduce((a, b) => a + b, 0) / 3,
      results.at(-1).slice(3, 6).reduce((a, b) => a + b, 0) / 3,
      results.at(-1).slice(6).reduce((a, b) => a + b, 0) / 3]
=======
  async function sendData(){
    if (testPassed){
      const reactionTimings = [results.at(-1).slice(0, 3).reduce((a, b) => a + b, 0) / 3,
        results.at(-1).slice(3, 6).reduce((a, b) => a + b, 0) / 3,
        results.at(-1).slice(6).reduce((a, b) => a + b, 0) / 3]
>>>>>>> daniildiveev/js

      const data = {
        testType: "math_sound_test",
        reactionTimings: reactionTimings
      }

      let url = ''
      const urlObject = new URL(window.location.href)

<<<<<<< HEAD
      if (urlObject.searchParams.has('data')) {
=======
      if (urlObject.searchParams.has('data')){
>>>>>>> daniildiveev/js
        url += '/complex_reaction_test?data=' + urlObject.searchParams.get('data')
      } else {
        url += '/complex_reaction_test'
      }

      await fetch(url, {
        method: 'POST',
        body: JSON.stringify(data),
        headers: { 'Content-Type': 'application/json' },
      })
<<<<<<< HEAD
        .then(res => {
          console.log(res)
          // Redirect to another URL
          window.location.href = res.url;
        })
        .catch(error => console.error(error));
    }
  }

  function generateProblem() {
=======
              .then(res => {
                console.log(res)
                // Redirect to another URL
                window.location.href = res.url;
              })
              .catch(error => console.error(error));
    }
  }

  function generateProblem(){
>>>>>>> daniildiveev/js
    let numbers = []

    for (let i = 0; i < numberOfNumbers; i++) {
      numbers.push(Math.round(Math.random() * 20))
    }

    let isEven = numbers.reduce((a, b) => a + b, 0) % 2 === 0

<<<<<<< HEAD
    return { numbers, isEven }
  }
</script>

=======
    return {numbers, isEven}
  }
</script>
>>>>>>> daniildiveev/js
</html>